@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zeyada&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Sacramento&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Handlee&display=swap');


* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: "Outfit", Arial, Helvetica, sans-serif;
  font-family: "Pacifico", cursive;
  /* font-family: "Zeyada", cursive; */
  /* font-family: "Sacramento"; */
  font-family: "Handlee", cursive;
  font-size: 40px;
}

html {
  scroll-behavior: smooth;
}

@font-face {
  font-family: 'Satisfy', cursive; /* Name to reference the font */
  src: url('./../assets/Satisfy-Regular.ttf') format('truetype'); /* Path to font file */
  font-weight: 400;
  font-style: normal;
}

